<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h1>회원 가입</h1>

<form th:action="@{/product}" th:object="${product}" method="post">
    <!-- 글로벌 오류 (ObjectError) 출력 -->
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">글로벌 오류 메시지</p>
    </div>
    <!-- 상품명 -->
    <label>상품명: <input type="text" th:field="*{productName}" /></label>
    <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">상품명 오류</span><br/>

    <!-- 가격 -->
    <label>가격: <input type="text" th:field="*{price}" /></label>
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">가격 오류</span><br/>

    <button type="submit">제출</button>
</form>
</body>
</html>