<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
</head>
<body>
<h2>파일 업로드</h2>

<!--<form th:action="@{/upload}" method="post" enctype="multipart/form-data">-->
<!--<form th:action="@{/uploadFile1}" method="post" enctype="multipart/form-data">-->
<form th:action="@{/uploadFile2}" method="post" enctype="multipart/form-data">
    <label for="username">이름 (username)</label>
    <input type="text" id="username" name="username" placeholder="이름을 입력하세요" th:value="${username}" required />

    <label for="file">파일 (file)</label>
    <input type="file" id="file" name="file" multiple required />

    <button type="submit">업로드</button>
</form>
</body>
</html>